
img{
    height: 200px !important;
}
.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
  }
  
  .center-content{

    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }
 
  .card-width{
    width: 18rem
  }